/* Universal Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    line-height: 1.6;
    background-color: #fff;
    color: #000000;
    padding: 20px;
}

/* The navigation Bar */
header nav {
    position: fixed;
    background-color: #000000;
    padding: 10px;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1000;

}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* The Home section */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #000000;
    font-family: 'Space Mono', monospace;
}


#home-heading {
    font-size: 2.5rem;
    text-align: center;
}


#typing-effect::after {
    content: "|";
    animation: blink 1s step-end infinite;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* The about me section */
#about {
    margin: 50px 0;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    font-size: 2.5rem;
    color: #333;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;  
    height: 200;
    object-fit: cover;
    border-radius: 10px;
}

/*  the "Education & Experience"  */

#experience {
    background-color: #f5f5f5; 
    padding: 40px 20px; 
}

.experience-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
}

#experience-heading {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px; 
}

.education-experience {
    display: flex;
    justify-content: space-between; 
    gap: 40px; 
    width: 100%;
    align-items: flex-start; 
}

.education, .experience {
    width: 48%; 
}

.education h3, .experience h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.education article, .experience article {
    margin-bottom: 20px; 
}

ul {
    margin-top: 10px;
    padding-left: 20px; 
}

ul li {
    margin-bottom: 5px;
}


.education article time, .experience article time {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 5px;
}

.education h4, .experience h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}







/* Skills Section */
#skills {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 50px 20px;
    text-align: center;
}


#skills h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}


#skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
}

#skills ul li {
    text-align: left;
    font-size: 12px;
}


@media (max-width: 768px) {
    #skills ul {
        grid-template-columns: 1fr;
    }
}

/* Styling for the Interests Section */
.interests-section {
    background-color: #f1f1f1; 
    padding: 40px;
    color: #333;
    justify-content: center;
}

.interests-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.interests-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.interests-slider {
    width: 30%;
    position: relative;
    max-width: 600px; 
    margin: 0 auto;

}


.slider-image {
    width: 100%;
    height: auto;
    display: block;
    
}

button-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.interests-text {
    width: 65%;
    padding-left: 20px;
    text-align: justify;
}



/*  for the contact section */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: white
     
}

.contact-image {
    width: 30%;
    margin-left: 100px;
    object-fit: contain;
}

.contact-info {
    width: 60%; 
}

.contact-info h2, h3, p {
    margin: 10px 0;
}

button-contact {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button-contact img {
    margin-right: 5px;
}

button-contact:hover {
    background-color: #555;
}